.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}

ion-card-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 32, 32);
}

ion-card-title {
    padding: 1%;
    color: white;
}

ion-card-content{
    padding: 0.5% 2%;
    text-align: center;
}

ion-card-content > p{
    font-weight: bold;
}

.error-text{
    color: rgb(247, 38, 38);
}