/* HEADER */
.header {
  --background: rgb(29, 29, 29) !important;
}

.logo {
  margin-left: 10px;
}

.white_text {
  color: white;
  font-size: 14px !important;
  margin-right: 10px;
}

.button-nav {
  margin-left: 20px;
}

.container {
  padding-top: 20px ;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.panel {
  width: 250px;
  height: 250px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-image: url("../../assets/Pictures/panel_picture.png");
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 20px;
}

.panel h2 {
  position: absolute;
  top: -50px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  color: black;
}

.sub-panel {
  align-items: center;
  margin-bottom: 10px;
  width: 230px;
  height: 80px;
  background-color: white;
  border-radius: 1rem;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  text-decoration: none;
  display: block;
  color: black;
}

.sub-panel:hover {
  background-color: lightgray;
}

@media (min-width: 1800px) {
  .panel {
    margin: 10px;
  }
}
