<div class="center-box">
  <div class="content-box">
    <div class="header-title">Mon compte</div>
    <ion-content class="divAccount" *ngIf="user">
      <div class="right-content">
        <p class="cagnotte">Cagnotte : {{ user.wallet }}€</p>
      </div>
      <div class="accountText">
        <!-- TODO FAIRE LE LIEN AVEC LE BACK-->
        <p>Prénom : {{ user.firstname }}</p>
        <p>Nom : {{ user.name }}</p>
        <p>Adresse email : {{ user.email }}</p>
      </div>
      <!-- Order recap -->
      <div class="recap-square">
        <h3>Commande en cours</h3>
        <div class="recap-content">
          <!-- Loops through orders -->
          @if(orders && orders.length > 0){
            @for (order of orders; track $index) {
              <app-order-card [order]="order"></app-order-card>
            }
          }
          @else {
            <p>Aucune commande en cours.</p>
          }
        </div>
      </div>

    </ion-content>
    <div class="accountButtons">
      <ion-button shape="round" color="warning" (click)="openEditAccountModal()">Modifier mes informations</ion-button>
      <ion-button shape="round" color="dark" (click)="presentDeleteAccountDialog()">Supprimer mon compte</ion-button>
    </div>
  </div>

</div>