<!-- Users header-->
<ion-header>
  <ion-toolbar class="header">
    <ion-button slot="start" fill="clear">
      <img class="logo" src="/assets/Pictures/logo.png" alt="Logo" width="50" height="50">
    </ion-button>
    <!-- Palt de la semaine, Carte, Mon compte buttons -->
    <ion-buttons slot="start">
      <ion-button shape="round" fill="solid" color="warning" routerLink="/users">Plat de la semaine</ion-button>
      <ion-button shape="round" fill="solid" color="warning">Carte</ion-button>
      <ion-button shape="round" fill="solid" color="warning" routerLink="/users-account">Mon Compte</ion-button>
    </ion-buttons>
    <!-- Log out, Welcome, Cart buttons-->
    <ion-buttons slot="end">
      <ion-button shape="round" color="light">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="white_text" slot="end">Bonjour user123 !</div>
    <ion-buttons slot="end">
      <ion-button shape="round" color="warning" (click)="openCartModal()">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="center-box">
  <div class="content-box">
    <div class="header-title">Mon compte</div>
    <ion-content class="divAccount" *ngIf="user">
      <div class="right-content">
        <p class="cagnotte">Cagnotte : {{ user.wallet }}€</p>
      </div>
      <div class="accountText">
        <!-- TODO FAIRE LE LIEN AVEC LE BACK-->
        <p>Prénom : {{ user.firstname }}</p>
        <p>Nom : {{ user.name }}</p>
        <p>Adresse email : {{ user.email }}</p>
      </div>
      <!-- Order recap -->
      <div class="recap-square">
        <h3>Commande en cours</h3>
        <div class="recap-content">
          @if(orders && orders.length > 0){
            @for (order of orders; track $index) {
              <p>Order n°{{$index + 1}}</p>
            }
          }
          @else {
            <p>Aucune commande en cours.</p>
          }
        </div>
      </div>

    </ion-content>
    <div class="accountButtons">
      <ion-button shape="round" color="warning" (click)="openEditAccountModal()">Modifier mes informations</ion-button>
      <ion-button shape="round" color="dark" (click)="presentDeleteAccountDialog()">Supprimer mon compte</ion-button>
    </div>
  </div>

</div>