//search bar
.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 75px;
    margin-bottom: 2%;
}

.custom-searchbar {
    --background: #ffffff;
    --border-color: #cccccc;
    --border-radius: 20px;
    --placeholder-color: #999999;
    --searchbar-icon-color: #666666;
    width: 20%;
}

//grid
.grid{
    padding: 0% 15%;
    margin-bottom: 3%;
}

.grid-header{
    background-color: rgb(29, 29, 29);
    color: white;
}

.grid > ion-row > ion-col{
    text-align: center;
    border: solid;
    border-color: rgb(124, 124, 124);
    border-width: 1px;
}

.grid > ion-row > ion-col > ion-button{
    width: auto;
    height: auto;
}

// filter 
.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 4px;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    border-color: #000 transparent transparent transparent;
}

.arrow.up {
    border-width: 0 4px 5px 4px;
}

.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }