.body > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-list-container{
    width: 100%;
    height: auto;
    margin-top: 1%;
}

.input-container{
    width: 50%;
    display: inline-flex;
    margin: 2.5px;
    padding: 1%;
}


.button-list{
    display: inline-block;
    padding: 0%;
    margin-bottom: 0.5%;
}

.button-list > ion-button{
    margin: 0%;
    padding: 0%;
}

.selected-button{
    border: solid;
    border-color: rgb(255, 153, 0);
    border-width: 1%;
    font-weight: bold;
}

ion-button{
    --border-radius: 0;
    --box-shadow: 0;
}

.meal-grid{
    padding: 0% 10%;
}

.meal-grid-row{
    background: rgb(212, 212, 212);
}

.meal-grid > ion-row > ion-col{
    border: solid;
    border-color: rgb(124, 124, 124);
    border-width: 1px;
    text-align: center;
}

.meal-grid > ion-row > ion-col > ion-input, .grid-item-text{
    text-align: start;
    padding-left: 1.5%;
}

.meal-grid > ion-row > ion-col > ion-button{
    color: rgb(70, 70, 70);
    width: auto;
    height: auto;
    border: solid;
    border-width: 2px;
    border-color: rgb(75, 75, 75, 0.15);
}

.empty-meal-text{
    padding: 1.5%;
}

.invalid-text{
    text-align: center;
    font-weight: bold;
    color: rgb(226, 47, 47);
}