<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Carte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid col-2 *ngIf="hasMealCategories()" class="grid-container">
    <div *ngFor="let category of mealCategories" class="grid-element">
      <h3 class="title">{{ getTemplateName(category.label) }}</h3>
      <div *ngFor="let meal of category.meals">
        <p class="text">{{ meal.label }}.............{{ meal.priceDF }}€</p>
      </div>
    </div>
  </ion-grid>
</ion-content>
