.header-title {
  text-align: right;
  font-size: 28px;
  font-weight: bold;
  padding: 10px;
  background: rgb(29, 29, 29);
  color: #ffffff;
}

// table
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
  justify-content: space-between;
}

td {
  padding: 10px;
}

.cells {
  text-align: center;
}

.quantity-wrapper {
  display: flex;
  align-items: center;
}

.quantity-wrapper ion-item {
  margin: 0;
}

.quantity-wrapper + td {
  vertical-align: top;
}

.buttonsBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.meal-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5%;
}

.meal-item {
  display: flex;
  align-items: center;
}

.meal-item ion-checkbox {
  margin-right: 10px;
}

.meal-details {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.meal-details .meal-label {
  flex-grow: 1;
}

.meal-details .meal-price {
  margin-left: 5%;
}

.meal-item {
  border-bottom: 1px solid #ccc;
}

.quantity-modifier {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-left: 5%;
}

.quantity-text {
  margin: 0 5px;
  flex-grow: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 15%;
}

.quantity-buttons {
  display: flex;
}

ion-button {
  width: 30px;
  height: 5px;
  font-size: 14px;
}

ion-button.cancelButton {
  width: 120px;
  font-size: 14px;
}

ion-button.orderButton {
  width: 140px;
  font-size: 14px;
}

.checkbox-custom {
  --color: #3880ff;
  --background: transparent;
  --border-color: #000;
  --border-width: 1.5px;
  --border-radius: 3px;
}

.checkbox-custom-checked {
  --background: var(--color);
  --border-color: var(--color);
}

.checkbox-custom input[type="checkbox"] {
  display: none;
}

.checkbox-custom label {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 30px;
}

.checkbox-custom label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: var(--border-width) solid var(--border-color);
  background-color: var(--background);
  border-radius: var(--border-radius);
}

.checkbox-custom label::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 7px;
  width: 6px;
  height: 10px;
  border: solid var(--color);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}

.checkbox-custom input[type="checkbox"]:checked + label::after {
  opacity: 1;
}

.toast-custom-class {
  --background: green;
}

.toast-custom-error-class {
  --background: red;
}
