.header {
    --background: rgb(29, 29, 29) !important;
  }
  
  .logo {
    margin-left: 10px;
  }
  
  .white_text {
    color: white;
    font-size: 14px !important;
    margin-right: 10px;
  }
  
  .button-nav {
    margin-left: 20px;
  }
  