<div class="container">
  <div class="panel">
    <h2>Lundi</h2>
    <a class="sub-panel" (click)="openOrderModal('Lundi')">Commander</a>
  </div>
  <div class="panel">
    <h2>Mardi</h2>
    <a class="sub-panel" (click)="openOrderModal('Mardi')">Commander</a>
  </div>
  <div class="panel">
    <h2>Mercredi</h2>
    <a class="sub-panel" (click)="openOrderModal('Mercredi')">Commander</a>
  </div>

  <div class="panel">
    <h2>Jeudi</h2>
    <a class="sub-panel" (click)="openOrderModal('Jeudi')">Commander</a>
  </div>
  <div class="panel">
    <h2>Vendredi</h2>
    <a class="sub-panel" (click)="openOrderModal('Vendredi')">Commander</a>
  </div>
</div>
