<!-- ORDER DISCONNECTED USER POP UP -->
<div class="header-title">Rechercher un utilisateur</div>
<ion-content *ngIf="user">
  <div class="right-content">
    <p class="cagnotte">Cagnotte : {{ user.wallet }}€</p>

    <ion-button 
    shape="round" 
    fill="solid" 
    color="warning" 
    (click)="toggleInputField()"
    >Créditer</ion-button>
    <!-- Input field to appear when the button is clicked -->
    <ion-item *ngIf="showInputField">
      <ion-label position="floating">Entrer le montant du crédit</ion-label>
      <ion-input 
      type="number"
      min="0"
      max="999"
      required
      [(ngModel)]="credit"
      #creditInput="ngModel">
      </ion-input>
      <ion-button 
      shape="round" 
      fill="solid" 
      color="warning" 
      (click)="presentCreditDialog()"
      [disabled]="!creditInput.valid"
      >Confirmer</ion-button>
    </ion-item>

    <ion-button 
    shape="round" 
    fill="solid" 
    color="warning" 
    (click)="toggleInputField()"
    >Solder le compte</ion-button>
    <!-- Input field to appear when the button is clicked -->
    <ion-item *ngIf="showInputField">
      <ion-label position="floating">Entrer le montant du solde</ion-label>
      <ion-input
      label=" ="
      type="number"
      min="0"
      max="999"
      required
      [(ngModel)]="sold"
      #soldInput="ngModel">
      </ion-input>
      <ion-button 
      shape="round" 
      fill="solid" 
      color="warning" 
      (click)="presentPayDialog()"
      [disabled]="!soldInput.valid"
      >Confirmer</ion-button>
    </ion-item>
  </div>
  <div>
    <!-- TODO FAIRE LE LIEN AVEC LE BACK-->
    <p>Prénom : {{ user.firstname }}</p>
    <p>Nom : {{ user.name }}</p>
    <p>Adresse email : {{ user.email }}</p>
  </div>
  <!-- Order recap -->
  <div class="recap-square">
    <h3>Commande en cours</h3>
    <div class="recap-content">
      @if(orders && orders.length > 0){
        @for (order of orders; track $index) {
          <app-order-card [order]="order"></app-order-card>
        }
      }
      @else {
        <p>Aucune commande en cours.</p>
      }
    </div>
  </div>
</ion-content>
<div class="cancelButton">
  <ion-button shape="round" fill="solid" color="light" (click)="closeUsersDetailsModal()">Fermer</ion-button>
</div>