<!-- ORDER DISCONNECTED USER POP UP -->
<div class="header-title">{{ currentDay }}</div>
<ion-content>
  <ng-container *ngIf="!isAuthenticated; else connectedUserContent">
    <!-- If the user is not authenticated, display a message -->
    <p class="center-text">
      ⚠️ Merci de vous connecter pour valider votre commande
    </p>
  </ng-container>

  <ng-template #connectedUserContent>
    <!-- If the user is authenticated, display user orders -->
    <p class="cagnotte">Cagnotte : {{ user?.wallet || "N/A" }} €</p>

    <div class="center-content">
      <table>
        <tr *ngFor="let order of userOrders">
          <td>{{ order.quantity[0]?.meal?.label }}</td>
          <td>{{ order.quantity[0]?.meal?.priceDF }} €</td>
          <td>
            <!-- Delete button to cancel the order -->
            <ion-button
              shape="round"
              fill="clear"
              color="warning"
              (click)="cancelOrder(order.id)"
            >
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </td>
        </tr>
      </table>
    </div>
  </ng-template>
</ion-content>

<div>
  <!-- If the user is connected, display the total -->
  <ng-container *ngIf="isAuthenticated">
    <div class="total-price">
      Total: {{ totalOrderPrice | currency : "EUR" }}
    </div>
  </ng-container>
</div>
<div class="popUpCartButton">
  <ion-button
    shape="round"
    fill="solid"
    color="light"
    (click)="closeCartModal()"
    >Annuler</ion-button
  >
  <!-- If the user is connected, display the validation button -->
  <ng-container *ngIf="isAuthenticated">
    <ion-button
      shape="round"
      fill="solid"
      color="warning"
      (click)="validateOrder()"
      >Valider</ion-button
    >
  </ng-container>
</div>
