<ion-content>
  <div class="center-content">
    <table class="cells">
      <!--ligne 1 : Table title -->
      <tr class="tableColor">
        <td colspan="7" class="tableTitle">Récapitulatif des commandes</td>
      </tr>

      <tr class="tableFirstRow">
        <td
          class="filter-cell"
          data-column="client"
          (click)="sortByColumn('client')"
        >
          Client <span class="arrow"></span>
        </td>
        <td
          class="filter-cell"
          data-column="commande"
          (click)="sortByColumn('commande')"
        >
          Commande <span class="arrow"></span>
        </td>
        <td
          class="filter-cell"
          data-column="prix"
          (click)="sortByColumn('prix')"
        >
          Prix <span class="arrow"></span>
        </td>
        <td
          class="filter-cell"
          data-column="cagnotte"
          (click)="sortByColumn('cagnotte')"
        >
          Cagnotte <span class="arrow"></span>
        </td>
        <td class="filter-cell" data-column="annuler">
          Annuler <span class="arrow"></span>
        </td>
        <td class="filter-cell" data-column="commande">
          Commander <span class="arrow"></span>
        </td>
        <td
          class="filter-cell"
          data-column="status"
          (click)="sortByColumn('status')"
        >
          Statut <span class="arrow"></span>
        </td>
      </tr>
      <!-- Iterate through orders array and create table rows -->
      <ng-container *ngFor="let order of orders">
        <tr>
          <td>{{order.user?.firstname}} {{order.user?.name}}</td>
          <td>
            {{ order.quantity[0]?.meal?.label || order.quantity[0]?.menu?.label
            }}
          </td>
          <td>
            {{ (order.quantity[0]?.meal?.priceDF ?
            order.quantity[0]?.meal?.priceDF + ' €' : '') ||
            (order.quantity[0]?.menu?.priceDF ? order.quantity[0]?.menu?.priceDF
            + ' €' : '') }}
          </td>
          <td>{{order.user?.wallet}} €</td>
          <td>
            <ion-button
              shape="round"
              color="warning"
              fill="solid"
              (click)="cancelOrder(order.id)"
            >
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </td>
          <td>
            <ion-button
              shape="round"
              color="warning"
              fill="solid"
              (click)="deliverAndPay(order.id)"
            >
              <ion-icon name="checkmark"></ion-icon>
            </ion-button>
          </td>
          <td>{{ translateStatus(order.status) }}</td>
        </tr>
      </ng-container>
    </table>
  </div>
</ion-content>
